//файл обнуляющих стилей
@import "nullstyle.scss";
@import "animations-extenders.scss";

@font-face {
      font-family: "Roboto";
      src: url("../fonts/Roboto-Regular.eot");
      src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"),
            url("../fonts/Roboto-Regular.ttf") format("truetype"), url("fonts/Roboto-Regular.svg") format("svg");
      font-weight: normal;
      font-style: normal;
}

body {
      height: 100%;
      font-family: "Roboto";
      color: #292929;
      background-color: #ffffff;
      font-size: 16px;
      line-height: 24px;
}

.wrapper {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
}

.container {
      max-width: 1200px;
      margin: 0px auto;
      padding: 0 20px;
}

.button {
      color: #f7f7f7;
      background-color: #1a1a1a;
}
.button:hover {
      color: #ffffff;
      text-shadow: 0px 0px 0.5px #ffffff;
}
.button:active {
      text-shadow: 0px 0px 10px #ffffff;
}

.link {
      color: #292929;
}

.bgim {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

// --------------- HEADER --------------------------
.header {
      &__slave {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background-color: #ced3ca;
            min-height: 45px;
            font-size: 14px;
            line-height: calc(20 / 14 * 100%);
      }

      &__master {
            max-width: 1300px;
            margin: 0px auto;
            display: flex;
            align-items: center;
            min-height: 115px;
            flex-wrap: wrap;
      }
      @media (min-width: 1084px) {
            &__master {
            }
      }
}
.slave {
      padding: 8px 15px 8px 15px;

      &__yell {
            text-align: center;
            margin: 0 16px 0 0;
      }

      &__text {
      }

      &__button {
            text-align: center;
            padding: 0 20px 0 20px;
            font-size: 12px;
            line-height: calc(28 / 12 * 100%);
            margin: 4px 0 0 0;
      }
      @media (min-width: 424px) {
            &__button {
                  margin: 0px 0 0 0;
            }
      }
}

.master {
      &__column {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 10px 0px 10px;
            flex-wrap: wrap;
      }
      &__column:first-child > .column__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }
      &__column:first-child > .column__item > a {
            margin: 0 0 10px 0;
      }

      &__column:nth-child(2) {
            margin-left: auto;
      }

      @media (min-width: 1084px) {
            &__column:nth-child(2) {
                  flex: 1 1 auto;
            }
      }

      &__logo {
            text-transform: uppercase;
            font-size: 30px;
            line-height: 100%;
            padding: 0 0 12px 0px;
            letter-spacing: 12px;
            padding: 0 0 0 15px;
      }

      @media (min-width: 700px) {
            &__logo {
                  font-size: 35px;
            }
      }
      @media (min-width: 1084px) {
            &__logo {
                  font-size: 40px;
            }
      }

      @media (min-width: 1300px) {
            &__column {
                  padding: 0;
                  margin: 0;
            }
      }

      &__menu {
            display: flex;
            align-items: center;
            margin: 0 0 0 34px;
      }

      &__burger {
            width: 65px;
            border-radius: 10%;
            padding: 5px;
            box-shadow: 0px 0px 5px 0px #ced3ca;
            margin: 10px 10px 10px 0px;
      }
      &__burger:hover {
            box-shadow: 0px 0px 15px 0px #ced3ca;
      }
      &__burger:active {
            box-shadow: 0px 0px 15px 5px #ced3ca;
      }
      &__burger-active {
            box-shadow: 0px 0px 15px 5px #ced3ca;
      }

      &__burger > p {
            padding: 3px;
            margin: 7px;
            border-radius: 5px;
            background-color: #292929;
      }

      &__column-item {
            position: relative;
            cursor: pointer;
            display: inline-block;
            padding: 0px 0px 0px 13px;
      }
      @media (min-width: 1084px) {
            &__column-item {
                  padding: 0 13px 0 13px;
            }
      }

      &__column-item:hover {
            text-decoration: underline;
      }
      &__column-item > img {
            padding: 4px 0 0 0;
      }
      &__column-item-bordered {
            border-right: 1px solid #292929;
      }

      &__form {
            box-shadow: 0px 0px 5px 0px #292929;
            border-radius: 7px;
            position: absolute;
            display: flex;
            top: 0;
            left: 15px;
      }

      &__form-static {
            box-shadow: 0px 0px 5px 0px #292929;
            border-radius: 7px;
            display: flex;
      }
      &__form-static .form__search-field {
            min-width: 170px;
      }

      &__journal-history {
            display: none;
      }
}
.menu {
      &__list {
            display: flex;
            flex-wrap: wrap;
            padding: 19px 16px 23.5px 16px;
      }

      &__item {
            margin: 0 32px 0 0;
      }
      &__item:hover {
            text-decoration: underline;
      }
}
.burger-menu {
      position: absolute;
      z-index: 50;
      top: 65px;
      right: 80px;
      border-radius: 7px;
      box-shadow: 0px 0px 5px 0px #ced3ca;
      background-color: #ffffff;
      &__list {
            display: flex;
            flex-direction: column;
            padding: 10px 15px 10px 15px;
      }
      &__list > li {
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 1.2px;
            display: block;
            margin: 10px 50px 10px 10px;
      }
      &__list > li > a {
            padding: 10px;
      }
      &__list > li:last-child {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px 0px 0px 0px;
      }
      &__item {
      }
      &__item:hover {
            text-decoration: underline;
      }

      &__list > li:last-child > a {
            display: block;
            text-align: center;
      }
}

.form {
      &__search-field {
            line-height: 150%;
            border-radius: inherit;
            padding: 0px 10px;
            max-width: 205px;
      }

      @media (min-width: 1084px) {
            &__search-field {
                  max-width: 155px;
            }
      }

      &__button {
            border-radius: inherit;
            padding: 4px 10px;
            box-shadow: 0px 0px 5px 0px #292929;
      }
}
.column {
      &__item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
      }

      &__items {
            position: relative;
      }
}

// ------------------MAIN------------------------
.main {
      flex: 1 1 auto;
}

.analog {
      position: relative;
      height: 600px;

      &__items {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: #ffffff;
            position: absolute;
            z-index: 30;
            top: 505px;
      }

      &__item {
            padding: 3px 3px 3px 0px;
            position: relative;
      }
      @media (min-width: 370px) {
            &__item > p {
                  font-size: 18px;
                  line-height: calc(28.5 / 18 * 100%);
            }
      }

      &__link {
            display: inline-block;
            font-size: 15px;
            line-height: calc(22.5 / 15 * 100%);
            color: #ffffff;
            border-bottom: 1px solid #ffffff;
      }
      &__link-container {
            color: #ffffff;
      }
      &__link-container:hover {
            text-shadow: 0px 0px 5px #ffffff;
      }
      &__link-container:active {
            text-shadow: 0px 0px 10px #ffffff;
      }
}
.analog__bgim {
      z-index: 10;
}

.products {
      padding: 47px 0px 0px 0px;
      &__menu {
            text-transform: capitalize;
            display: flex;
            justify-content: center;
            margin: 0 0 35px 0;
      }

      &__menu-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
      }
      &__menu-list li {
            min-width: 10%;
            max-width: 33.333%;
            padding: 0px 24px 5px 24px;
            text-align: center;
            flex: 1 1 auto;
      }

      &__link.selected {
            color: #1a1a1a;
            font-size: 17px;
            line-height: 17px;
            display: inline-block;
            padding: 0px 1px 13px 1px;
            letter-spacing: 0.7px;
            border-bottom: 1px solid #292929;
      }

      &__link {
            color: #b3b3b3;
            font-size: 17px;
            line-height: 17px;
            display: inline-block;
            padding: 0px 1px 13px 1px;
            letter-spacing: 0.7px;
            border-bottom: 1px solid #ffffff;
      }

      &__link:hover {
            color: #292929;
            border-bottom: 1px solid #292929;
      }

      // &__menu-list > li:not(:last-child) {
      //       margin: 0 48px 0 0;
      // }

      &__items {
            display: none;
      }

      &__items.selected {
            display: grid;
            justify-items: auto;
            column-gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
            margin-bottom: 20px;
      }
      @media (min-width: 750px) {
            &__items.selected {
                  margin-bottom: 115px;
            }
      }

      &__items-few {
            display: grid;
            justify-items: auto;
            column-gap: 20px;
            grid-template-columns: repeat(auto-fit, 275px);
            grid-auto-rows: 1fr;
      }

      &__item {
            word-break: break-all;
            display: grid;
            grid-auto-flow: row;
            grid-template: auto 1fr minmax(40px, auto) / 1fr;
      }

      &__image {
            position: relative;
            padding: 61.1% 0;
            margin: 0 0 20px 0;
      }

      &__bgim {
      }

      &__name {
            font-size: 15px;
            color: #1a1a1a;
            text-transform: capitalize;
      }

      &__option {
            font-size: 15px;
            color: #a8a8a8;
            text-transform: capitalize;
      }

      &__price {
            font-size: 13px;
            color: #808080;
      }

      &__discount {
            font-size: 13px;
            color: #ff3451;
      }

      &__button {
            text-transform: capitalize;
            display: block;
            margin: auto auto 55px auto;
            width: 302px;
            font-size: 20px;
            line-height: 56px;
            padding: 10px 25px 10px 25px;
            text-align: center;
      }
      @media (min-width: 750px) {
            &__button {
                  margin: auto auto 172px auto;
            }
            &__items {
                  margin-bottom: 114px;
            }
      }
}

.discount {
      background-color: #ced3ca;
      padding: 63px 0px;
}
@media (min-width: 750px) {
      .discount {
            padding: 127px 0px;
      }
}

.discount {
      &__content {
            background-color: #f7f7f7;
      }

      &__row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
      }
      @media (min-width: 460px) {
            &__row {
                  flex-wrap: nowrap;
            }
      }

      &__column {
            position: relative;
      }
      &__column-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            padding: 7px 7px 7px 15px;
      }
      @media (min-width: 460px) {
            &__column-text {
                  align-items: flex-start;
            }
      }

      &__link-container {
            position: relative;
            color: #1a1a1a;
      }
      &__link-container:hover {
            text-shadow: 0px 0px 1px #1a1a1a;
      }
      &__link-container:active {
            text-shadow: 0px 0px 10px #1a1a1a;
      }

      &__message {
            display: flex;
            flex-direction: column;
            font-size: 17px;
            line-height: 150%;
            max-width: 208px;
            margin: 0 0 10px 0;
      }

      &__message > p:not(:first-child) {
            font-size: 15px;
            line-height: 140%;
      }
      &__message-item {
            text-align: center;
      }

      @media (min-width: 460px) {
            &__message {
                  font-size: 19px;
                  margin: 0 0 20px 0;
            }
            &__message-item {
                  text-align: start;
            }
      }

      @media (min-width: 1084px) {
            &__message {
                  font-size: 38px;
                  margin: 0 0 33px 0;
            }
      }

      &__link {
            display: inline-block;
            font-size: 14px;
            line-height: 150%;
            color: #1a1a1a;
            border-bottom: 1px solid #1a1a1a;
      }

      &__background {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            top: 0;
            left: 0;
      }
}

.mission {
      background-color: #f8f6f2;
      padding: 0 0 25px 0;

      &__header {
            text-align: center;
            font-size: 30px;
            line-height: 120%;
            color: #1a1a1a;
            max-width: 630px;
            margin: auto;
            padding: 55px 0px;
      }
      @media (min-width: 750px) {
            &__header {
                  padding: 113px 0px;
            }
      }

      &__wear {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: -10px 0 10px -10px;
      }
      @media (min-width: 750px) {
            &__wear {
                  margin: -10px 0 50px -10px;
            }
      }

      &__objects {
            display: flex;
            flex-direction: column;
      }
}
@media (min-width: 750px) {
      .mission {
            padding: 0 0 115px 0;
      }
}

.wear {
      &__column {
            flex: 1 1 auto;
            padding: 10px;
      }

      &__image {
            position: relative;
      }
      &__image > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
      }

      &__link-container {
            position: relative;
            color: #1a1a1a;
      }
      &__link-container:hover {
            text-shadow: 0px 0px 1px #1a1a1a;
      }
      &__link-container:active {
            text-shadow: 0px 0px 10px #1a1a1a;
      }

      &__link {
            display: inline-block;
            font-size: 16px;
            line-height: 150%;
            color: #1a1a1a;
            border-bottom: 1px solid #1a1a1a;
      }
}

.objects {
      &__image {
            flex: 1 1 auto;
      }
      &__image > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
      }

      &__link-container {
            position: relative;
            color: #1a1a1a;
      }
      &__link-container:hover {
            text-shadow: 0px 0px 1px #1a1a1a;
      }
      &__link-container:active {
            text-shadow: 0px 0px 10px #1a1a1a;
      }

      &__link {
            display: inline-block;
            font-size: 16px;
            line-height: 150%;
            color: #1a1a1a;
            border-bottom: 1px solid #1a1a1a;
      }
}

.studio {
      position: relative;
      height: 600px;

      &__bgim {
            object-position: top;
      }

      &__container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }

      &__message {
            position: relative;
            color: #ffffff;
            text-align: center;
            font-size: 24px;
            line-height: 154%;
            max-width: 782px;
            margin-bottom: 10px;
      }

      @media (min-width: 460px) {
            &__message {
                  font-size: 29px;
            }
      }
      @media (min-width: 920px) {
            &__message {
                  font-size: 35px;
            }
      }

      &__item {
            position: relative;
            color: #ffffff;
            max-width: 107px;
            text-align: center;
      }
      &__item:hover {
            text-shadow: 0px 0px 5px #ffffff;
      }
      &__item:active {
            text-shadow: 0px 0px 10px #ffffff;
      }

      &__link {
            text-align: center;
            color: #ffffff;
            border-bottom: 1px solid #ffffff;
      }
}
.loop {
      height: 373px;
      background-color: #ced3ca;
      display: flex;
      justify-content: center;

      &__container {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }

      &__header {
            font-size: 34px;
            line-height: 120%;
            padding: 0 0 19px 0;
            text-align: center;
      }

      &__message {
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            max-width: 373px;
            padding: 0 0 56px 0;
      }

      &__form {
            display: flex;
            align-items: center;
      }

      &__text-field {
            max-width: 338px;
            font-size: 16px;
            line-height: 140%;
            border: 1px solid #242424;
            padding: 14px 16px;
      }

      &__button {
            font-size: 24px;
            line-height: 24px;
            border: 1px solid #242424;
            padding: 13px 20px;
            border-left: none;
      }
}
@media (min-width: 750px) {
      .loop {
            height: 443px;
      }
}

// ------------------FOOTER----------------------
.footer {
      min-height: 70px;
      background-color: #f7f7f7;
}
.footer {
      &__container {
            display: flex;
      }

      @media (max-width: 750px) {
            &__container {
                  flex-direction: column;
            }
            &__container > &__column:nth-child(3) {
                  display: none;
            }
            &__column {
                  min-width: 33.333%;
                  padding: 84px 0px 104px 0px;
            }
            &__menu {
                  display: flex;
                  justify-content: center;
                  flex-wrap: wrap;
            }
      }
      &__column {
            min-width: 25%;
            padding: 84px 0px 104px 0px;
      }

      &__column p {
            font-size: 15px;
            line-height: 140%;
            text-align: end;
            margin: 0px 0px 14px 0px;
      }
      &__column p:nth-child(2) {
            margin: 0px 0px 53px 0px;
      }

      &__logo-link {
            display: block;
            width: 100%;
      }

      &__column div {
            text-align: center;
      }
      &__column > div:first-child {
            display: flex;
            flex-wrap: wrap-reverse;
      }
      @media (min-width: 640px) {
            &__column > div:first-child {
                  flex-wrap: nowrap;
            }
            &__column div {
                  text-align: end;
            }
      }
      &__column > div > div:first-child {
            margin: 0px 25px 0px 0px;
      }

      &__menu > li:not(:last-child) {
            margin: 0px 0px 14px 0px;
      }
      @media (max-width: 750px) {
            &__menu > li:not(:last-child) {
                  margin: 0px 20px 14px 0px;
            }
            &__column {
                  min-width: 25%;
                  padding: 15px 0px;
            }
            &__column p {
                  text-align: center;
            }
            &__column > div:first-child {
                  display: flex;
                  justify-content: center;
                  flex-wrap: wrap-reverse;
            }
            &__social-container {
                  display: flex;
                  justify-content: center;
            }
            &__social {
                  display: inline-block;
                  margin: 5px 10px 5px 10px;
                  width: 15px;
            }
            &__logo-link {
                  display: flex;
                  justify-content: center;
                  margin: 0 0 15px 0;
            }
            &__column p:nth-child(2) {
                  margin: 0px 0px 15px 0px;
            }
      }

      &__menu-item {
            display: inline-block;
            font-size: 15px;
            line-height: 120%;
      }
      &__menu-item:hover {
            text-decoration: underline;
      }
}

// -----------------ADDONS-----------------------
.wd {
      display: none;
}
.sm {
      display: flex;
}
@media (min-width: 1084px) {
      .wd {
            display: flex;
      }
      .sm {
            display: none;
      }
}
